@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colores */
  --PrimaryColor: #8b48bf;
  --PrimaryColor-opacity: rgba(139, 72, 191, 0.7);
  --AccentColor: #3cddf3;
  --NeutralColor-Dark: #1e1e26;
  --NeutralColor-Light: #b9b9c1;
  --NeutralColot-DarkBlue: #232851;
  --NeutralColot-dB-opacity: #232851a2;
  --white: #ffffff;

  /* tipografia */
  --font-Family: "Fira Sans", sans-serif;
  --fs-body: 1rem;
  --fs-h1: 3rem;
  --fs-h2: 2rem;
}

/* Mobile Frist */
body {
  font-size: var(--fs-body);
  font-family: var(--font-Family);
}

/* Header */
header {
  background-color: #ffffffde;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0px;
}

nav {
  display: none;
}

header button {
  display: none;
}

ul {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style: none;
}

ul a {
  color: var(--NeutralColot-DarkBlue);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

ul a:hover {
  color: var(--NeutralColot-dB-opacity);
}

.primary-action-button {
  background-color: var(--PrimaryColor);
  color: var(--white);
  height: 44px;
  width: 134px;
  border: none;
  border-radius: 50px;
  transition: background-color 0.5s;
}

.primary-action-button:hover {
  background-color: var(--PrimaryColor-opacity);
}

/* primera secci贸n - main */
h1 {
  font-size: var(--fs-h1);
  color: var(--NeutralColot-DarkBlue);
}

.imagen-padel {
  width: 100%;
  padding: 1rem;
}

.main-container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.main-container-text h1,
.main-container-text p {
  text-align: right;
  margin-bottom: 28px;
}

.main-container-text p {
  color: var(--NeutralColor-Dark);
}

/* segunda secci贸n  */
.section-container-color {
  background-color: var(--AccentColor);
  padding: 1rem;
  padding-top: 2rem;
}

.section-text-h2{
color: var(--white);
font-size: var(--fs-h2);
margin-bottom: 20px;
}

.section-text-p{
  color: var(--white);
}


/* de laptop hacia adelante */
@media (min-width: 1024px) {
  /* Header */
  .menu-hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
  }

  .primary-action-button {
    display: block;
  }

  /* primera secci贸n - main */
  .main-container {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  /* segunda secci贸n  */
  .section-container-color{
    background-color: var(--PrimaryColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 10rem;
  }
  
  .section-text-h2{
  width: 300px;
  margin: 0;
  }

  .section-text-p{
   width: 500px;
  }
}
