@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colores */
  --PrimaryColor: #8b48bf;
  --PrimaryColor-opacity: rgba(139, 72, 191, 0.7);
  --AccentColor: #3cddf3;
  --NeutralColor-Dark: #1e1e26;
  --NeutralColor-Light: #8d8d8d;
  --NeutralColor-Light-gray: #fafafa;
  --NeutralColot-DarkBlue: #232851;
  --NeutralColot-dB-opacity: #232851a2;
  --white: #ffffff;
  --white-opacity: hsla(0, 0%, 100%, 0.685);

  /* tipografia */
  --font-Family: "Fira Sans", sans-serif;
  --fs-body: 1rem;
  --fs-h1: 3rem;
  --fs-h2: 2rem;
}

/* Mobile Frist */
body {
  font-size: var(--fs-body);
  font-family: var(--font-Family);
}

/* Header */
header {
  background-color: hsla(0, 0%, 100%, 0.9);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.main-nav {
  display: none;
}

header button {
  display: none;
}

ul {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style: none;
}

ul a {
  color: var(--NeutralColot-DarkBlue);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

ul a:hover {
  color: var(--NeutralColot-dB-opacity);
}

.primary-action-button {
  background-color: var(--PrimaryColor);
  color: var(--white);
  height: 44px;
  width: 134px;
  border: none;
  border-radius: 50px;
  transition: background-color 0.5s;
  font-size: 1.05rem;
}

.primary-action-button:hover {
  background-color: var(--PrimaryColor-opacity);
}

/* primera sección - main */
h1 {
  font-size: var(--fs-h1);
  color: var(--NeutralColot-DarkBlue);
}

.imagen-padel {
  width: 100%;
  padding: 1rem;
}

.main-conteiner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.main-conteiner-text h1,
.main-conteiner-text p {
  text-align: right;
  margin-bottom: 28px;
}

.main-conteiner-text p {
  color: var(--NeutralColor-Dark);
}

/* segunda sección  */
.section-conteiner-color {
  background-color: var(--AccentColor);
  padding: 3rem 1rem;
}

.section-text-h2 {
  color: var(--white);
  font-size: var(--fs-h2);
  margin-bottom: 20px;
  width: 300px;
}

.section-text-p {
  color: var(--white);
}

/* tercera sección  */
.section-conteiner-items {
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.conteiner-item {
  margin-bottom: 40px;
}
.conteiner-item-number {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(139, 72, 191, 0.3);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 20px;
}

.item-number {
  background-color: var(--PrimaryColor);
  color: var(--white);
  width: 60px;
  height: 43px;
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

h4,
h5 {
  color: var(--NeutralColot-DarkBlue);
}

.conteiner-item > p {
  padding-left: 20px;
  color: var(--NeutralColor-Light);
}

/* cuarta sección */
.section-conteiner-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 44px 0;
}

.section-conteiner-cards h2 {
  color: var(--NeutralColot-DarkBlue);
  font-size: var(--fs-h2);
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.conteiner-card {
  background-color: var(--NeutralColor-Light-gray);
  margin: 0 1rem;
  padding: 1rem;
  padding-top: 4rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-avatar {
  position: relative;
  top: 40px;
}

.conteiner-card p {
  text-align: center;
  color: var(--NeutralColor-Light);
  line-height: 150%;
}

.avatar-card {
  display: none;
}

/* quinta sección */
.section-conteiner-color-action {
  background-color: var(--AccentColor);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.conteiner-color-action-h2 {
  color: var(--white);
  font-size: var(--fs-h2);
  text-align: center;
}

.second-action-button {
  background-color: var(--NeutralColot-DarkBlue);
  color: var(--white);
  height: 44px;
  width: 134px;
  border: none;
  border-radius: 50px;
  transition: background-color 0.5s;
  font-size: 1.05rem;
}

.second-action-button:hover {
  background-color: hsla(233, 40%, 23%, 0.8);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--NeutralColor-Dark);
  padding: 2rem 1rem;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

input[type="email"] {
  border: none;
  border-radius: 50px;
  width: 70%;
  padding-left: 9px;
  color: var(--NeutralColot-DarkBlue);
}

::placeholder {
  font-weight: bolder;
  color: var(--NeutralColor-Light);
}

input[type="email"]:focus {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.801);
}

input[type="submit"] {
  width: 70px;
}

.footer-nav {
  width: 90%;
  margin-bottom: 20px;
}

.footer-nav-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-nav-ul div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-nav-ul a {
  color: var(--white);
  font-weight: 300;
}

.footer-nav-ul a:hover {
  color: var(--AccentColor);
}

.conteiner-socialMedia {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.conteiner-socialMedia img:hover {
  opacity: 0.5;
}

footer > p {
  color: var(--NeutralColor-Light);
  opacity: 0.5;
  font-size: 0.7rem;
}

.conteiner-socialmedia-and-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.conteiner-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** de laptop hacia adelante **/
@media (min-width: 1024px) {
  /* Header */
  .menu-hamburger-icon {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .primary-action-button {
    display: block;
  }

  /* primera sección - main */
  .main-conteiner {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  .imagen-padel {
    width: 40%;
    padding: 1rem;
  }

  /* segunda sección  */
  .section-conteiner-color {
    background-color: var(--PrimaryColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 10rem;
  }

  .section-text-h2 {
    /* width: 300px; */
    margin: 0;
  }

  .section-text-p {
    width: 500px;
  }

  /* tercera sección  */
  .section-conteiner-items {
    background-color: var(--NeutralColor-Light-gray);
  }

  .conteiner-item {
    width: 500px;
    margin: 20px;
  }

  .conteiner-item-number {
    background-color: transparent;
  }

  /* cuarta sección */
  .avatar-card {
    display: flex;
  }

  .container-avatar-cadrs {
    display: flex;
    justify-content: space-evenly;
  }

  /* Quinta sección */
  .section-conteiner-color-action {
    background-color: var(--PrimaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .conteiner-color-action-h2 {
    width: 400px;
    text-align: left;
  }

  .second-action-button {
    background-color: var(--white);
    color: var(--NeutralColot-DarkBlue);
  }

  .second-action-button:hover {
    background-color: var(--white-opacity);
  }

  /* footer */
  footer {
    display: flex;
    align-items: flex-end;
    padding: 3rem;
    background-color: var(--NeutralColor-Dark);
  }

  .conteiner-footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-nav {
    width: 400px;
  }

  .conteiner-socialmedia-and-logo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 200px;
    height: 106px;
  }

  .conteiner-socialMedia {
    justify-content: space-between;
    align-items: baseline;
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 30px 0;
  }
}
